@tailwind base;


.Card{
    @apply w-48 h-72 shadow-md rounded-lg flex flex-col transform transition-all hover:-translate-y-4 hover:shadow-xl
  }

  .Card-Title-Color{
    @apply bg-secondary text-white
  }
  .Card-Title-White{
    @apply bg-white text-tertiary
  }
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 5px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #F68E1E;
    border-radius: 14px;
    border: 2px solid #F68E1E;
  }

  @tailwind components;
@tailwind utilities;